<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
    </head>
    <body>
        Witam na stronie gównej<br/>
        <a href = "{% url 'register:registerPage' %}">Zarejestruj się!</a><br/>
        <a href = "{% url 'login:loginPage' %}">Zaloguj sie ino roz!</a><br/>
        {% if user_data %}
            <p>Witaj {{user_data.user}}</p>
            <a href = "{% url 'login:logoutPage' %}">Wyloguj</a>
        {% else %}
            <p>Wylogowany</p>
        {% endif %}
    </body>
</html>