.item {
  margin: 2vh 0;
}

.onePostCard {
width:100%;
background: rgba(10, 10, 10, 0.5);
margin:1vw;
border: 1px solid black;
float: left;
font-family: 'Roboto', sans-serif;
}
.postContent{

background: rgba(200, 200, 10, 0.5);
}
.activityContent{
padding:10px;
background: rgba(10, 255, 10, 0.5);
height: 8vh;
}

.comment{

background: rgba(10, 10, 255, 0.5);
}
.actions {
background: rgba(255, 10, 255, 0.5);
padding: 1.5rem;
text-align: center;
}

.image {
width: 50%;
height: 40%;
margin: 4vh auto;
overflow: hidden;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.image img {
width: 100%;
object-fit: cover;
}

.content {
text-align: center;
padding:1rem;
font-size: 2rem;
}

.content h3 {
font-size: 5rem;
color: white;
font-weight: bold;
line-height: 1vh;
}
.content address{
font-size:3rem;
font-weight: bold;
font-style: italic;
-webkit-text-stroke: 3px black;
color:rgba(129,11,219,1);
}



.actions button {
font: inherit;
cursor: pointer;
color: #77002e;
border: 1px solid #77002e;
background-color: transparent;
padding: 0.5rem 1.5rem;
border-radius: 4px;
}

.actions button:hover,
.actions button:active {
background-color: #ffe2ed;
}

.likeIt {
color: white;
float: left;
margin-left: 2vw;
margin-right:1vw;
font-size:4rem;
width: 10%;
}

.likeIt i {
cursor: pointer;
float: left;
}

.likeIt i:link {
color: white;
}

.likeIt i:focus {
color:blue;
}

.likeIt p {
font-size: 0.5em;
float: left;
margin-left: 1vw;
}

.likesCount {
float: left;
font-size: 4rem;
color:thistle;
min-width:10%;

}
.writeComment{
float:left;
margin:auto;
width:70%;
}
.writeComment input{
font-size:3rem;
border-radius:10px;
background-color: seashell;
}
.writeComment button{
font-size: 2rem;
border-radius:10px;
margin-left:1vw;
}

.clearBoth{
clear:both;
}