

.item {
    margin: 2vh 0;
  }

.onePostCard {
  width:100%;
  background: rgba(10, 10, 10, 0.5);
  margin: 2vh 1vw;
  border: 1px solid black;
  float: left;
}
.postContent{
  width:100%;
  background: rgba(10, 10, 10, 0.5);
}
.activityContent{
  width:100%;
  background: rgba(10, 10, 10, 0.5);
}

.image {
  width: 50%;
  height: 40%;
  margin: 4vh auto;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}

.likeIt {
  color: white;
  font-size: 1.5em;
  float: left;
  margin-left: 2vw;
}

.likeIt i {
  cursor: pointer;
  float: left;
}

.likeIt i:link {
  color: white;
}

.likeIt i:focus {
  color:blue;
}

.likeIt p {
  font-size: 0.5em;
  float: left;
  margin-left: 1vw;
}

.likesCount {
  float: left;
  
}
