.item {
  margin: 2vh 0;
}

.onePostCard {
width:100%;
background: rgba(10, 10, 10, 0.5);
margin:1vw;
border: 1px solid black;
float: left;
font-family: 'Roboto', sans-serif;
}

.trush {
  color: white;
  font-size: 1.2em;
  float: left;
  width: 5%;
  margin-top: 2vh;
}

.trushIcon {
  cursor: pointer;
  color:white;
}

.postContent{

background: rgba(200, 200, 10, 0.5);
}
.activityContent{
padding:10px;
background: rgba(10, 10, 10, 0.5);
max-height: 100%;
margin-top: auto;
margin-bottom:auto;
}
.actions {
background: rgba(255, 10, 255, 0.5);
padding: 1.5rem;
text-align: center;
}

.image {
width: 50%;
height: 40%;
margin: 4vh auto;
overflow: hidden;
border-top-right-radius: 6px;
border-top-left-radius: 6px;
}

.image img {
width: 100%;
object-fit: cover;
}

.content {
text-align: center;
padding:1rem 0;
font-size: 1.5rem;
width:94%;
float: left;
}

.content h3 {
font-size: 3rem;
color: white;
font-weight: bold;
line-height: 1vh;
}
.content address{
font-size:1.75rem;
font-weight: bold;
font-style: italic;
color: rgba(247, 203, 90, 1);
-webkit-text-stroke: 1px black;
}



.actions button {
font: inherit;
cursor: pointer;
color: #77002e;
border: 1px solid #77002e;
background-color: transparent;
padding: 0.5rem 1.5rem;
border-radius: 4px;
}

.actions button:hover,
.actions button:active {
background-color: #ffe2ed;
}

.likeIt {
margin-top:auto;
margin-bottom:auto;
color: white;
float: left;
margin-left: 1vw;
font-size:2rem;
text-align: center;
color:thistle;
}

.likeIt i {
cursor: pointer;
float: left;
}

.likeIt i:link {
color: white;
}

.likeIt i:focus {
color:blue;
}

.likeIt p {
font-size: 0.5em;
float: left;
margin-left: 1vw;
}

.likesCount {
float: left;
font-size: 2rem;
color:thistle;
margin-left:1vw;
margin-top:auto;
margin-bottom:auto;
}
.writeComment{
float:right;
}
.writeComment input{
width:30vw;
font-size:1.5rem;
border-radius:10px;
background-color: seashell;
margin-top:auto;
margin-bottom:auto;
}
::-webkit-input-placeholder {
text-align: center;  
}
.writeComment button{
font-size: 1.5rem;
border-radius:10px;
margin-left:1vw;
margin-top:auto;
margin-bottom:auto;
background-color:thistle;
}

.clearBoth{
clear:both;
}

.comment{
background-color: rgba(10, 10, 10, 0.35);
padding:0.5vh 1vw;
margin-top:1.5vh;
}
.comment h4{
color:rgba(179, 133, 56, 1);
font-size:1.2rem;
}
.comment p{
color:#9e9e98;
font-size: 1.1rem;
}
