section {
    float: left;
    height:83vh;
    width:60%;
    border-right: 2px solid black;
    overflow-y: scroll;
}

.edit_profile {
    width:50vw;
    height:30vh;
}

.edit_profile > input {
    width:50%;
    margin-top: 1vh;
    margin-left: 3vw;
}