.loggedUsername {
    margin-left: 10vw;
    width: 15vw;
    float: left;
    min-height: 3vh;
}

.header_btn {
    right: 20vw;
    padding:0 1vh;
    position: fixed;
    line-height: 4vh;
    height: 4vh;
    margin-top:2.5vh;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 5px;
    background-color: #3a3a58;
    color:white;
    border:1px solid #efefef;
}

.homeRegLink {  
    right:10vw;
    color:rgba(247, 203, 90, 1);
    position: fixed;
    font-size: 1.5rem;
    line-height: 8vh;
    padding:0 10px;
    cursor: pointer;
    font-weight: 700;
}
.homeRegLink:hover{
    background-color: rgba(10, 10, 10, 0.35);   
}

a:visited {
    color:white;
}

aside {
    float: left;
}

.mainHome {
    float: left;
    margin-top: 2vh;
    width:76vw;
}

.createAPost {
    border-radius: 10px;
    height: 8vh;
    width:95%;
    margin: 10px auto;
    background-color: rgba(10, 10, 10, 0.5);
    padding:10px;
    color: rgba(247, 203, 90, 1);
}

.createAPost > .createPostBtn {   
    font-size: 2em;
    float: left;
    margin:2vh 10px;
    padding:5px;
    height:50%;
    width:10%;
}
.createAPost > input {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    float:left;
    margin:2vh 10%;
}
.createAPost > button {
    height:50%;
    width: 10%;
    margin:2vh 10px;
    border-radius: 10px;
    color: rgba(156, 66, 85);
    background-color: rgba(247, 203, 90, 1);
    font-weight: 700;
    float: left;
    cursor: pointer;
    transition: background-color 1s;
}

#filetopost {
    display: none;
}



.createAPost > button:hover {
    background-color: rgba(156, 66, 85);
    color:rgba(247, 203, 90, 1);
}

.profilePosts {
    height: 56vh;
    overflow-y: scroll;
}


.post {
    width:50vw;
    height: 20vh;
    background-color: #5c5c7a;
    border-radius: 10px;
    margin-left:5vw;
    margin-top:2vh;
}

.post h1 {
    color:white;
    background-color: #5c5c7a;
    text-align: center;
    font-size: 18px;
}

.values {
    min-height:33vh;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
}

.toProfile{
    background-color: rgba(10, 10, 10, 0.5);
    text-align: center;
    padding: 5px;
    font-size:1.2rem;
}
.toProfile:hover{
    background-color: rgba(10, 10, 10, 0.7);
}

.userscount {
    font-size: 1.5em;
    width:20%;
    border:3px solid rgba(156, 66, 85);
    border-radius: 50%;
    background-color: rgba(247, 203, 90, 1);
    margin:auto;
    text-align: center;
    color:rgba(156, 66, 85);
}
