.header_btn {
    right: 20vw;
    padding:0 1vh;
    position: fixed;
    line-height: 4vh;
    height: 4vh;
    margin-top:2.5vh;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 5px;
    background-color: #3a3a58;
    color:white;
    border:1px solid #efefef;
}

.homeRegLink {
    right:10vw;
    position: fixed;
    line-height: 9vh;
    color:white;
    font-family: 'Titillium Web', sans-serif;
}

a:visited {
    color:white;
}

aside {
    float: left;
}

.mainHome {
    float: left;
    margin-top: 2vh;
}

.createAPost {
    border-radius: 10px;
    height: 20vh;
    width:66vw;
}

.createAPost > input {
    height: 7vh;
    width: 40vw;
    margin: 2vh 12vw 3vh 12vw;
    border-radius: 10px;
}

.createAPost > .createPostBtn {
    color: white;
    font-size: 2em;
    float: left;
    margin-left: 2vw;
}

#filetopost {
    display: none;
}

.createAPost > button {
    height:5vh;
    width: 7vw;
    border-radius: 10px;
    margin-left: 46vw;
    background-color: #5c5c7a;
    color:#efefef;
    opacity: 1;
    float: left;
    cursor: pointer;
    transition: background-color 1.5s;
}

.createAPost > button:hover {
    background-color: #2222a2;
}

.profilePosts {
    overflow-y: scroll;
    height: 62vh;
}









.post {
    width:50vw;
    height: 20vh;
    background-color: #5c5c7a;
    border-radius: 10px;
    margin-left:5vw;
    margin-top:2vh;
}

.post h1 {
    color:white;
    background-color: #5c5c7a;
    text-align: center;
    font-size: 18px;
}

.values {
    height:33vh;
    width: 22%;
}