.plot {
    width:50%;
    height: 70%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.loginPanel {
    width: 100%;
    height: 100%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.logFormGroup {
    width:50%;
    height:10%;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(247, 203, 90, 1);
    border-radius: 5px;
    border:2px solid lightgray;
    color:rgba(156, 66, 85);
}

.logFormGroup > .login {
    width: 98%;
    height: 90%;
    border:none;
    font-size: 1.1em;
    background-color: rgba(247, 203, 90, 0.9);
    color:rgba(156, 66, 85);
    font-weight: 700;
    text-align: center;
}

.logFormGroup > .password {
    height: 90%;
    width: 94%;
    border-bottom: 2px solid lightgray;
    border:none;
    border-radius: 5px;
    font-size: 1.1em;
    float: left;
    background-color: rgba(247, 203, 90, 0.9);
    color:rgba(156, 66, 85);
    font-weight: 700;
    text-align: center;
}
::-webkit-input-placeholder {
    color: rgba(156, 66, 85);
    font-size: 1.2rem;
    font-weight: 700;
}

.logFormGroup >.eyeIcon {
    font-size: 1em;
    line-height: 3vh;
    float: right;
    width:5%;
    height:3vh;
}


.loginPanel > .inputLogSub {
    width: 30%;
    height: 10%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    border-radius: 2vh;
    border: 1px solid lightgray;
    background-color: rgba(247, 203, 90, 0.9);
    color: rgba(156, 66, 85);
    font-size: 1.6em;
    font-weight: 700;
    text-decoration: none !important;
    cursor: pointer;
}

.inputLogSub:visited {
    text-decoration: none;
    color: #efefef;
}

p {
    text-align: center;
    min-height: 4vh;
    margin-left: auto; 
    margin-right: auto;
    color:white;
}

.forgottenPasswordLink {
    text-align: center;
    min-height: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

br {
    height:3px;
}
