.plot {
    width:50%;
    height: 70%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.loginPanel {
    width: 100%;
    height: 100%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.logFormGroup {
    width:70%;
    height:10%;
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    border-radius: 5px;
    border:2px solid lightgray;
}

.logFormGroup > .login {
    width: 100%;
    height: 90%;
    border:none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}

.logFormGroup > .password {
    height: 90%;
    width: 85%;
    border-bottom: 2px solid lightgray;
    border:none;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    float: left;
}

.logFormGroup > .eyeIcon {
    font-size: 2em;
    line-height: 6vh;
    float: left;
    width:14%;
    height:90%;
}


.loginPanel > .inputLogSub {
    width: 30%;
    height: 10%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    border-radius: 2vh;
    border: 1px solid lightgray;
    font-family: 'Titillium Web', sans-serif;
    background-color: #3a3a58;
    color: #efefef;
    font-size: 1.6em;
    text-decoration: none !important;
    cursor: pointer;
}

.inputLogSub:visited {
    text-decoration: none;
    color: #efefef;
}

p {
    text-align: center;
    min-height: 4vh;
    margin-left: auto; 
    margin-right: auto;
    color:white;
}

.forgottenPasswordLink {
    text-align: center;
    min-height: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

br {
    height:3px;
}
