.user{
    background: rgba(10, 10, 10, 0.5);
    width:85%;
    margin:10px 1vw 30px 1vw;
    float: left;
}
aside {
    height:83vh;
    width: 22vw;
    margin: 2vh 1vw;
    float: left;
}

.logo_of_brand {
    margin: 1vh 0;
}

.values {
    width:20vw;
    min-height: 33vh;
}

section {
    float: left;
    height:83vh;
    width:75%;
    right: 0;
    position: fixed;
    border-right: 2px solid black;
    overflow-y: scroll;
}

.profileData {
    width:65vw;
    height:30vh;
}

.avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border:1px solid black;
    margin: 2vh auto 1vh auto;
}

.avatar > img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.username_for_profile {
    margin: 0 auto;
    font-size: 2rem;
    color: rgba(247, 203, 90, 1);
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-weight: 700;
    width:50%;
}

.profilePosts {
    width:100%;
    margin:2vh auto 0 auto;
    height:82vh;
    min-height: 2vh;
}

.preturn {
    color:white;
    position: fixed;
    right:10vw;
    margin-top: 0 !important;
    text-decoration: none;
    line-height: 10vh;
}

ul .list-of-friends {
    list-style-type: none;
    width: 100%;
}

li {
    display: block;
}

.listFriendsElement {
    cursor: pointer;
}
.profileData button, .edit_profile button{
    margin-left: 1vw;
    font-size: 1.5rem;
    border-radius:1.5rem;
    background-color: rgba(10, 10, 10, 0.5);
    color:rgba(247, 203, 90, 1);
    min-height: 5vh;
    min-width: 10vw;
}