aside {
    height:83vh;
    width: 22vw;
    margin: 2vh 1vw;
    float: left;
}

.logo_of_brand {
    margin: 1vh 0;
}

.values {
    width:20vw;
    min-height: 33vh;
}

section {
    float: left;
    height:83vh;
    width:75%;
    right: 0;
    position: fixed;
    border-right: 2px solid black;
    overflow-y: scroll;
}

.profileData {
    width:65vw;
    height:30vh;
}

.avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border:1px solid black;
    margin: 2vh auto 1vh auto;
}

.avatar > img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.username_for_profile {
    margin: 0 auto;
    font-size: 1.5em;
    color: white;
    text-align: center;
    width:50%;
}

.profilePosts {
    width:92%;
    margin: 0 auto;
    min-height: 2vh;
}

.preturn {
    color:white;
    position: fixed;
    right:10vw;
    margin-top: 0 !important;
    text-decoration: none;
    line-height: 10vh;
}

ul .list-of-friends {
    list-style-type: none;
    width: 100%;
}

li {
    display: block;
}

.listFriendsElement {
    cursor: pointer;
}