.plot {
    width:70%;
    height: 90%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.registerPanel {
    width: 70%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.registerPanel > .regFormGroup {
    width: 60%;
    height: 16%;
    border-radius: 7%;
    margin-left: 20%;
    margin-right: 20%;
    align-self: center;
}

.registerPanel > .regFormGroup > .regInput {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    border:2px solid lightgray;
    padding: 2vh;
    background-color: rgba(247, 203, 90, 0.9);
    font-size: 1.1em;
    color:rgba(156, 66, 85);
    
}

.regInput > .createPassword {
    height: 88%;
    width: 85%;
    border:none;
    border-radius: 5px;
    font-size: 1em;
    float: left;
}

.register-icon {
    font-size: 1.5em;
    margin-top: 1%;
    cursor: pointer;
    float: left;
}

.registerPanel > .inputRegSub {
    width: 30%;
    height: 10%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    border: 1px solid lightgray;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(126, 16, 45,0.8);
    color: rgba(247, 203, 90, 0.9);
    font-size: 1.4em;
    text-decoration: none !important;
    cursor: pointer;
}