.retrievePlot {
    width: 50%;
    height: 60%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.retInput {
    width: 50% !important;
    height: 10% !important;
    min-height: 50px;
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    border:2px solid lightgray;
    background-color: rgba(247, 203, 90, 0.9);
    color:rgba(156, 66, 85);
    font-weight: 700;
    text-align: center;
    font-size: 1.1rem;
}

.sentenceRetrieve {
    font-family: 'Titillium Web', sans-serif;
    color: #efefef;
    font-size:1.4.em;
    letter-spacing: 0.3em;
    text-align: center;
    margin-top: 2vh;
}

.retrievePlot > .inputRetSub {
    width: 20%;
    height: 8%;
    min-height: 30px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 3%;
    border-radius: 2vh;
    border: 1px solid lightgray;
    font-size: 1.3em;
    text-decoration: none !important;
    cursor: pointer;
    background-color:rgba(126, 16, 45,0.8);
    color:rgba(247, 203, 90, 0.9);
    font-weight: 700;
}