<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
    </head>
    <body>
        Tu bedzie logowanko
        <form action = "{% url 'login:loginPage' %}" method = "POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value = "Zaloguj" class = 'login-form-field'/>
        </form>
        <a href = "{% url 'home:homePage' %}">Wróć na stronę startową</a><br/>
        <a href = "{% url 'register:registerPage' %}">Albo sie zarejestruj kmiotku</a>
    </body>
</html>