.App {
  margin: 0 !important;
  width: 100vw;
  height: 100vh;
  background-image: url('toStrony2.png');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 0 2vw 2vh 2vw;
  background: rgba(10, 10, 10, 0.6);
  width: 96vw;
  height: 6vh;
  min-height: 50px;
}

header > #logo_of_brand {
  margin-left: 7vw;
  width: 25vw;
  height: 100%;
}

#logo_of_brand > img {
  width: 100%;
  height: 100%;
  margin: 1vh 0;

}

footer {
  bottom: 0;
  position: fixed;
  width: 40%;
  height: 6vh;
  color:blue;
}